<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity android:name=".gangesh_advice"/>
        <activity android:name=".gangesh_good"/>
        <activity android:name=".sohail_advice"/>
        <activity android:name=".sohail_good"/>
        <activity android:name=".aqib_advice"/>
        <activity android:name=".aqib_good"/>
        <activity android:name=".kalim_advice"/>
        <activity android:name=".kalim_good"/>
        <activity android:name=".apology"/>
        <activity android:name=".word"/>
        <activity android:name=".dream"/>
        <activity android:name=".meticulous"/>
        <activity android:name=".quotes"/>
        <activity android:name=".open_letter"/>
        <activity android:name=".secret"/>
        <activity android:name=".advice"/>
        <activity android:name=".supremacy"/>
        <activity android:name=".intro"/>
        <activity android:name=".home"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ajay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>